<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Search</title>

  <!-- Required Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <!-- Required Import for Data Binding -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.js"></script>
  <script src="app.js"></script>

</head>

<body>
<div ng-app="recipeApp" ng-controller="recipeCtrl" class="container">
  <div align="center" >
    <h2 style="text-align: center; color: #1ab188">Welcome to web page Team 2-2</h2>
    <br/>
    <label><h4 style="text-align: center; color: #1ab188">Enter recipe name you want to search</h4> </label>
    <input type="text" placeholder="Receipe Name"  ng-model="recipe" />
    <button class="btn-success" ng-click="getRecipeDetails()"> Search for reciepe </button>
  </div>

  <div class="row" id="recipes" style="display: none">
    <br/>
    <br/>
    <div id="recipeDetails" ng-repeat="recipeDet in recipeDetails">
      <div class="col-md-4" style="overflow: hidden;height: 100%">
        <div class="thumbnail">
          <a href="{{recipeDet.recipe.image}}" target="_blank">
            <img src="{{recipeDet.recipe.image}}" alt="Image" style="width: 100%">
          </a>
          <div class="caption center-block">
            <p style="color: green"><strong>{{recipeDet.recipe.label}}</strong></p>
          </div>
          <label>Source of the Recipe : </label>
          <a target="_blank" href="{{recipeDet.recipe.url}}">{{recipeDet.recipe.source}}</a>
          <br/>
          <label>Ingredients :</label>
          <ul ng-repeat="ingredient in recipeDet.recipe.ingredientLines">
            <li>{{ingredient}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <!-- Hiding the errors first using Style display:none-->
  <strong><p ng-bind-html="fielderrorhtml" id="fielderror" style="display: none;color: red;" align="center"></p></strong>
  <br/>
</div>
</body>
</html>