<!DOCTYPE html>
<html>

<head>
    <title>Weather Report - ICP2</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<style>
    .weatherInfo {
        background: blanchedalmond;
        height: auto;
        width:  550px;
        border: 2px solid black;
        padding: 2em;
    }

    .error {
        color: #FF0000;
    }

</style>
<script>
    angular.module('weathersearch', [])
        .controller('weathercontrol', function($scope, $http) {

            $scope.getWeatherReport = function() {
                var stateid = $scope.state;
                var cityid = $scope.city;

                $("#stateError").hide();
                $("#cityError").hide();
                $("#weatherError").hide();
                $('.weatherInfo').hide();

                if(cityid == null && stateid == null) {
                    $("#noneError").show();
                    return false;
                }

                if (cityid == null ) {
                    $("#cityError").show();
                    return false;
                }

                if (stateid == null ) {
                    $("#stateError").show();
                    return false;
                }

                var url = "https://api.wunderground.com/api/4bbbc25f4f5946dd/conditions/q/" + stateid + "/" + cityid + ".json";
                $http.get(url).success(function(data) {

                    if (data.current_observation == null) {
                        $("#weatherError").show();
                        return false;
                    }

                    console.log(data);
                    temperature_fahrenheit = data.current_observation.temp_f;
                    temperature_celsius = data.current_observation.temp_c;
                    iconurl = data.current_observation.icon_url;
                    weather = data.current_observation.weather;
                    wind = data.current_observation.wind_string;
                    pressure = data.current_observation.pressure_mb;
                    relativehumidity = data.current_observation.relative_humidity;
                    $scope.weatherCondition = {
                        html: "Current temperature: " + temperature_fahrenheit + " &deg; F ( " + temperature_celsius + " &deg; C ) and "
                        + weather+ "<br/>"+"Wind is "
                        + wind + "<br/>"+ "The pressure at sea level is : " + pressure + " millibars " + "<br/>"+" Humidity:" + relativehumidity + ""
                    }
                    $scope.weatherIcons = {
                        html: "<img src='" + iconurl + "'/>"
                    }

                    $('.weatherInfo').show();
                })
            }

        });
</script>

<body>

    <div class="jumbotron text-center">
         <h3>Finding Weather Report</h3>
         <p> Enter the State code and city in the below displayed fields</p>
    </div>
    <div ng-app="weathersearch" ng-controller="weathercontrol" class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
            <label><h3>State: </h3></label>
            <input type="text" placeholder="enter state code" ng-model="state">
        </div>

        <div class="col-sm-4" style="background-color:lavenderblush;">
            <label><h3>City: </h3></label>
            <input type="text" placeholder="enter city name" ng-model="city">
        </div>
        <div class="col-sm-4">
            <button ng-click="getWeatherReport()"><h6>search weather</h6></button>
        </div>
    </div>

    <p class="error" id="noneError" style="display: none">Please enter the details </p>
    <p class="error" id="stateError" style="display: none"> Oops!! you forgot to enter state code details  </p>
    <p class="error" id="cityError" style="display: none"> Oops!! you forgot to enter city details  </p>
    <p class="error" id="weatherError" style="display: none"> Sorry!!! No weather details found for the entered details </p>
    <br/>
    <br/>

    <div class="weatherInfo" style="display: none">
        <p class="weatherConditions" ng-bind-html-unsafe="weatherCondition.html"></p>
        <div class="weatherIcon" ng-bind-html-unsafe="weatherIcons.html"></div>
    </div>
</div>
</body>